@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #777;
    font-size: 15px;
    line-height: 1.75;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: auto;
}
*{
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.class-test{
    margin-top: 100px;
}
