.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
.first-name{
  width: max-content;
}
.last-name{ 
  margin-top: 10px;
  width: max-content;

}
.email{
  
  margin-top: 10px;
  width: max-content;
}
.address{

  margin-top: 10px;
  width: max-content;
}
.phone{

  margin-top: 10px;
  width: max-content;
}
.birthday{
  
  margin-top: 10px;
}