<div *ngIf = "data.state == 'text-field'">
    <mat-form-field appearance="fill" class="{{data.css}}">
        <mat-label >{{data.label}}</mat-label>
        <input matInput placeholder="{{data.placeholder}}" (change) = "onKey($event)" value={{data.valueinit}}>
    </mat-form-field>
</div>
<div *ngIf = "data.state == 'datepicker'">
    <mat-form-field appearance="fill" class="{{data.css}}">
        <mat-label >{{data.label}}</mat-label>
        <input matInput placeholder="{{data.placeholder}}" [formControl]="date" [matDatepicker] = "picker" (dateChange) = "emitDatePickerEvent($event.value)" >
        <mat-datepicker-toggle matSuffix [for] ="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
<span *ngIf = "data.state == 'search'">
    <mat-form-field class="{{data.css}}">
        
        <mat-label >
            <mat-icon>search</mat-icon>
            {{data.label}}
        </mat-label>
        <input matInput placeholder="{{data.placeholder}}" (change) = "onKey($event)">
    </mat-form-field>
</span>