.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
.first-name{
  margin-left: 300px;
  width: 500px;
  /* position: absolute;
  left: 25%;
  top: 25%; */
  /* margin: -25px 0 0 25px; */
}
.last-name{
  margin-left: 300px;
  margin-top: 10px;
  width: 500px;
  /* /* position: absolute;
  left: 25%;
  top: 25%; */
}
.email{
  margin-left: 300px;
  margin-top: 10px;
  width: 500px;
  /* position: absolute;
  left: 25%;
  top: 25%; */
}
.address{
  margin-left: 300px;
  margin-top: 10px;
  width: 500px;
}
.phone{
  margin-left: 300px;
  margin-top: 10px;
  width: 500px;
}